.footer {
    background-color:var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
}
.App.dark .footer {
    background-color: var(--text-color);
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    
    margin: 10px auto;
    border-top: 1px dashed var(--text-color);
    width: min(100%, 950px);
}
.App.dark .footer__container {
    
    color: var(--primary-color);
    border-top: 1px dashed var(--primary-color)
}
.footer__colors {
    display: flex;
    
    width: 200px;
    height: 30px;
}
.color1 {
    background-color: var(--secondary-color);
    width: 50px;
}
.color2 {
    background-color: var(--primary-color);
    width: 50px;
}
.color3 {
    background-color: var(--text-color);
    width: 50px;
}
.color4 {
    background-color: var(--bg-color);
    width: 50px;
}
.footer__end {
    font-size: 0.7rem;
    
}